* {
    width: 100%;
    box-sizing: border-box;
}

.slider-checkbox {
    width: 3em;
    height: 1em;
}

.slider-checkbox * {
    transition: 3000ms;
}

#slider {
    display: none;
}

.slider-checkbox > label {
    display: block;
    height: 100%;
    background: #ff7a7a;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    padding-top: .1em;
    padding-left: .2em;
    margin: 1em 0;
}

.slider-checkbox div {
    width: .6em;
    height: .6em;
    background: white;
    border-radius: 2em;
}

input[type="checkbox"]:checked + label {
    background: #71ff7a;
    padding-left: 2em;
}
