* {
    width: 100%;
    box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header.container {
  width: 100%;
  background: #faf7a7;
  position: relative;
}

.logo-detail {
    position: relative;
}

.logo-detail img {
  width: 7.5%;
}

header.container * {
  display: inline;
}
